@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 2px; /* ширина для вертикального скролла */
  height: 2px; /* высота для горизонтального скролла */
  background-color: #F8F8F9;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 96, 255, 0.1);
}

.body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
  background-color: #F0F8FF;
}

.main {
  display: grid;
  grid-template-columns: 307px auto;
  grid-template-rows: minmax(100vh, 100%);
}
.main__body {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 98px auto;
}
.main__header {
  grid-column: 1;
  grid-row: 1;
  background-color: #fff;
}
.main__content {
  grid-column: 1;
  grid-row: 2;
  max-width: 1411px;
  padding: 28px;
}

.logo {
  display: flex;
  align-items: center;
  transition: 0.4s;
}
.logo__img {
  width: 71.97px;
  height: 29.53px;
}
.logo__text {
  font-weight: 800;
  font-size: 22.1443px;
  line-height: 27px;
  color: #000000;
}
.logo__text span {
  color: #2F80ED;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.7;
}

.sidebar {
  padding: 41px 49px 41px 49px;
  grid-column: 1;
  grid-row: 1;
  background-color: #FFFFFF;
  border-right: 1px solid #F0F8FF;
}
.sidebar__container {
  display: flex;
  flex-direction: column;
  gap: 77px;
}
.sidebar__body {
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: center;
}
.sidebar__separator {
  display: block;
  width: 175px;
  height: 1.5px;
  background-color: rgba(232, 234, 236, 0.78);
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.menu__item {
  width: 208px;
  height: 49px;
}
.menu__link {
  width: 208px;
  height: 49px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}
.menu__link_active {
  background: #D5E6FB;
  border-radius: 8.83405px;
  color: #0060FF;
}
.menu__link_active .menu__icon path {
  fill: #0060FF;
}
.menu__link:hover {
  cursor: pointer;
  background: #D5E6FB;
  border-radius: 8.83405px;
  color: #0060FF;
}
.menu__link:hover .menu__icon path {
  fill: #0060FF;
}
.menu__icon {
  width: 28.14px;
  height: 28.14px;
}
.menu__icon path {
  transition: 0.4s;
}
.submenu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.submenu__item {
  width: 208px;
  height: 49px;
}
.submenu__link {
  width: 208px;
  height: 49px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}
.submenu__link:hover {
  cursor: pointer;
  background: #D5E6FB;
  border-radius: 8.83405px;
  color: #0060FF;
}
.submenu__link:hover .submenu__icon path {
  fill: #0060FF;
}
.submenu__icon {
  width: 28.14px;
  height: 28.14px;
}
.submenu__icon path {
  transition: 0.4s;
}
.header {
  padding: 21px 39px 18px 39px;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__search {
  width: 626px;
  height: 50px;
  background: #FFFFFF;
  border: 1.3px solid rgba(196, 202, 205, 0.4);
  border-radius: 57px;
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;
  padding: 0 20px;
  transition: 0.4s;
}
.header__search::-moz-placeholder {
  color: rgba(98, 109, 125, 0.4);
}
.header__search:-ms-input-placeholder {
  color: rgba(98, 109, 125, 0.4);
}
.header__search::placeholder {
  color: rgba(98, 109, 125, 0.4);
}
.header__search:focus {
  border: 1.3px solid #0060FF;
}
.header__notify {
  transition: 0.4s;
}
.header__notify:hover {
  cursor: pointer;
  opacity: 0.7;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 29px;
}
.header__bell {
  width: 26.07px;
  height: 28px;
}
.profile {
  width: 256px;
  height: 59px;
  background: #F2F8FF;
  border-radius: 12.6265px;
  padding: 0 16.84px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 9px;
}
.profile__image {
  max-width: 45.46px;
  max-height: 45.46px;
}
.profile__img {
  width: 100%;
  height: 100%;
}
.profile__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.profile__name {
  font-weight: 600;
  font-size: 13.4683px;
  line-height: 28px;
  color: #1F1F1F;
}
.profile__email {
  font-weight: 500;
  font-size: 11px;
  line-height: 28px;
  color: #5E6E78;
}
.profile__popup {
  width: 5px;
  height: 20px;
  margin-left: auto;
  transition: 0.4s;
}
.profile__popup path {
  transition: 0.4s;
}
.profile__popup:hover {
  cursor: pointer;
}
.profile__popup:hover path {
  fill: #1F1F1F;
}
.profile__popup-img {
  width: 5px;
  height: 20px;
}

.popupmenu {
  display: none;
  position: fixed;
  right: 37px;
  top: 75px;
  transition: 0.4s;
}
.popupmenu_active {
  display: block;
  transition: 0.4s;
}
.popupmenu__body {
  background-color: #F2F8FF;
  border-radius: 12px;
  border: 1px solid rgba(182, 182, 182, 0.5333333333);
  box-shadow: 3px 3px 3px rgba(182, 182, 182, 0.2392156863);
}
.popupmenu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.popupmenu__link {
  width: 100px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: 0.4s;
}
.popupmenu__link:hover {
  cursor: pointer;
  background-color: #D5E6FB;
  color: #0060FF;
}

.notifymenu {
  display: none;
  position: fixed;
  right: 150px;
  top: 65px;
  transition: 0.4s;
}
.notifymenu_active {
  display: block;
  transition: 0.4s;
}
.notifymenu__body {
  background-color: #F2F8FF;
  border-radius: 12px;
  border: 1px solid rgba(182, 182, 182, 0.5333333333);
  box-shadow: 3px 3px 3px rgba(182, 182, 182, 0.2392156863);
}
.notifymenu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.notifymenu__link {
  width: 350px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: 0.4s;
}
.notifymenu__link:hover {
  cursor: pointer;
  background-color: #D5E6FB;
  color: #0060FF;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.content__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance {
  width: 302px;
  height: 174px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.balance__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance__name {
  display: flex;
  align-items: center;
  gap: 16px;
}
.balance__image {
  width: 44px;
  height: 43px;
  background: rgba(47, 128, 237, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.balance__icon {
  width: 28px;
  height: 25px;
}
.balance__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.balance__eye {
  width: 22px;
  height: 16px;
}
.balance__eye path {
  transition: 0.4s;
}
.balance__eye:hover {
  cursor: pointer;
}
.balance__eye:hover path {
  fill: rgba(31, 31, 31, 0.3215686275);
}
.balance__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.balance__count {
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  color: #000000;
}
.balance__profit {
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance__month {
  color: #626D7D;
}
.balance__plussum {
  color: #219653;
}
.balance__plusproc {
  width: 62.33px;
  height: 23px;
  background: rgba(33, 150, 83, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 22px;
  color: #219653;
}

.crypto {
  width: 325px;
  height: 174px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.crypto__body {
  display: flex;
  align-items: center;
}
.crypto__info {
  display: flex;
  flex-direction: column;
  gap: 21.5px;
}
.crypto__head {
  display: flex;
  align-items: center;
  gap: 12px;
}
.crypto__image {
  width: 44px;
  height: 43px;
  background: rgba(255, 156, 7, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crypto__image_purple {
  background: rgba(77, 33, 255, 0.2);
}
.crypto__image_red {
  background: #FFD2D2;
}
.crypto__icon {
  width: 19px;
  height: 25px;
}
.crypto__title {
  display: flex;
  flex-direction: column;
}
.crypto__usdt {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.crypto__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #626D7D;
}
.crypto__total {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}
.crypto__graphic {
  width: 137px;
  height: 50px;
}
.crypto__stat {
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crypto__pnl {
  font-weight: 500;
  color: #626D7D;
}
.crypto__sum {
  color: #EB5757;
}
.crypto__sum_green {
  color: #219653;
}
.crypto__proc {
  width: 62px;
  height: 23px;
  background: rgba(33, 150, 83, 0.2);
  border-radius: 60px;
  font-weight: 600;
  font-size: 11px;
  line-height: 22px;
  color: #219653;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course {
  width: 851px;
  height: 428px;
  background: #FFFFFF;
  border-radius: 25px;
  padding: 35px 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course__head {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.course__times {
  display: flex;
  align-items: center;
  gap: 7px;
}
.course__time {
  padding: 5px 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  color: #000000;
  background: rgba(221, 225, 228, 0.22);
  border-radius: 7px;
  transition: 0.4s;
}
.course__time:hover {
  cursor: pointer;
  background: #F2F8FF;
  color: #0060FF;
}
.course__time_active {
  background: #F2F8FF;
  color: #0060FF;
}
.selectbox {
  width: 334px;
  height: 80px;
  background: rgba(249, 249, 250, 0.56);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 25px;
}
.selectbox__name {
  display: flex;
  flex-direction: column;
}
.selectbox__usdt {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.selectbox__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #626D7D;
}
.selectbox__body {
  display: flex;
  align-items: center;
  gap: 15px;
}
.selectbox__stat {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.selectbox__total {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.selectbox__proc {
  width: 54.33px;
  height: 23px;
  background: rgba(33, 150, 83, 0.2);
  border-radius: 61.2328px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 10.2055px;
  line-height: 22px;
  color: #219653;
}
.selectbox__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectbox__btn-icon {
  width: 13px;
  height: 8px;
}
.selectbox__popup {
  display: none;
  position: fixed;
  background-color: rgba(249, 249, 250, 0.5607843137);
  border-radius: 12px;
  border: 1px solid rgba(182, 182, 182, 0.5333333333);
  box-shadow: 3px 3px 3px rgba(182, 182, 182, 0.2392156863);
  top: 410px;
  left: 500px;
}
.selectbox__popup_active {
  display: block;
}
.selectbox__popup-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.selectbox__popup-item {
  width: 350px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: 0.4s;
}
.selectbox__popup-item:hover {
  cursor: pointer;
  background-color: #D5E6FB;
  color: #0060FF;
}

.markets {
  width: 478px;
  height: 428px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 37px 33px 14px 33px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.markets__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.markets__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.markets__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.markets__button {
  font-weight: 600;
  font-size: 10.5691px;
  line-height: 23px;
  color: #000000;
  padding: 5px 13px;
  background: #F8F8F9;
  border-radius: 7.39837px;
  transition: 0.4s;
}
.markets__button_active {
  color: #0060FF;
  background: #F2F8FF;
}
.markets__button:hover {
  cursor: pointer;
  color: #0060FF;
  background: #F2F8FF;
}
.markets__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.markets__items {
  display: flex;
  flex-direction: column;
  max-height: 270px;
  overflow: auto;
  scrollbar-color: rgba(0, 96, 255, 0.1) #F8F8F9;
  scrollbar-width: thin;
}
.markets__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.05);
  padding: 6px 0px;
}
.markets__item:last-child {
  border-bottom: none;
}
.markets__name {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 52px;
}
.markets__usdt {
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
.markets__fullname {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #5E6E78;
}
.markets__prices {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 52px;
}
.markets__total {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}
.markets__proc {
  width: 58px;
  height: 22px;
  background: rgba(235, 87, 87, 0.2);
  border-radius: 69px;
  font-weight: 600;
  font-size: 9.79867px;
  line-height: 22px;
  color: #EB5757;
  display: flex;
  align-items: center;
  justify-content: center;
}
.markets__proc_green {
  background: rgba(33, 150, 83, 0.2);
  color: #219653;
}
.markets__footer {
  display: flex;
  align-items: center;
  justify-content: end;
}
.markets__viewall {
  width: 60px;
  height: 26px;
  background: rgba(255, 255, 255, 0.22);
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.markets__viewall:hover {
  cursor: pointer;
  opacity: 0.7;
}

.assets {
  width: 315.07px;
  height: 301px;
  padding: 21px 26.16px 19px 29.91px;
  display: flex;
  flex-direction: column;
  gap: 23.11px;
  background: #FFFFFF;
  border-radius: 15px;
}
.assets__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.assets__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.assets__btn {
  width: 34px;
  height: 26px;
  border: 0.3px solid rgba(127, 138, 155, 0.3);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.assets__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.assets__iconBtn {
  width: 14px;
  height: 3px;
}
.assets__body {
  display: flex;
  flex-direction: column;
  gap: 28.87px;
}
.assets__chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.assets__legends {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.assets__legend {
  height: 22px;
  background: rgba(0, 96, 255, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 7px;
}
.assets__icon {
  display: block;
  width: 12px;
  height: 12px;
  background: #155AB6;
  border-radius: 2px;
}
.assets__icon_btc {
  background: #2F80ED;
}
.assets__icon_eth {
  background: #B1D3FF;
}
.assets__icon_ada {
  background: #00C4DF;
}
.assets__name {
  font-weight: 600;
  font-size: 10px;
  line-height: 7px;
  color: #2F80ED;
}

.convert {
  width: 366.92px;
  height: 301px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 21px 36px 26px 29.92px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.convert__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.convert__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.convert__btn {
  width: 34px;
  height: 26px;
  border: 0.3px solid rgba(127, 138, 155, 0.3);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.convert__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.convert__iconBtn {
  width: 14px;
  height: 3px;
}
.convert__body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.convert__description {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #626D7D;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.form__body {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.form__elem {
  position: relative;
}
.form__input {
  width: 304px;
  height: 49px;
  background: #F9F9FA;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 17px;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #626D7D;
}
.form__select {
  width: 62px;
  height: 31px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 7px;
  top: 9px;
  z-index: 999;
}
.form__select_one {
  background: #C7E4DB;
}
.form__select_one .form__selected {
  color: #219653;
}
.form__select_two {
  background: #FCF4DB;
}
.form__select_two .form__selected {
  color: #FF7C04;
}
.form__selected {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}
.form__selectBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__selectIcon {
  width: 6px;
  height: 3px;
}
.form__button {
  width: 304px;
  height: 47px;
  background: #3380FF;
  border-radius: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: 0.4s;
}
.form__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.history {
  width: 622.16px;
  height: 301px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 20px 32.16px 21px 39px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.history__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.history__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.history__btn {
  display: block;
  width: 60px;
  height: 26px;
  background: rgba(255, 255, 255, 0.22);
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}
.history__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.history__body {
  display: flex;
  flex-direction: column;
  gap: 18.5px;
}
.history__row {
  display: grid;
  grid-template-columns: auto;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 18.5px;
}
.history__row:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.history__updown {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}
.history__icon {
  width: 24px;
  height: 24px;
}
.history__name {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
}
.history__summa {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-column: 3;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
}
.history__summa_plus {
  color: #219653;
}
.history__summa_minus {
  color: #EB5757;
}
.history__time {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-column: 4;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}
.history__statusblock {
  grid-column: 5;
  display: flex;
  align-items: center;
  justify-content: end;
}
.history__status {
  width: 58px;
  height: 23px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history__status_pending {
  background: rgba(242, 201, 76, 0.2);
  color: #F2994A;
}
.history__status_done {
  background: rgba(33, 150, 83, 0.2);
  color: #219653;
}