@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  color: #000000;
  background-color: #F0F8FF;
}

.main {
  display: grid;
  grid-template-columns: 307px auto;
  grid-template-rows: minmax(100vh, 100%);
}
.main__body {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 98px auto;
}
.main__header {
  grid-column: 1;
  grid-row: 1;
  background-color: #fff;
}
.main__content {
  grid-column: 1;
  grid-row: 2;
  max-width: 1411px;
  padding: 28px;
}

.logo {
  display: flex;
  align-items: center;
  transition: 0.4s;
}
.logo__img {
  width: 71.97px;
  height: 29.53px;
}
.logo__text {
  font-weight: 800;
  font-size: 22.1443px;
  line-height: 27px;
  color: #000000;
}
.logo__text span {
  color: #2F80ED;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.7;
}

.sidebar {
  padding: 41px 49px 41px 49px;
  grid-column: 1;
  grid-row: 1;
  background-color: #FFFFFF;
  border-right: 1px solid #F0F8FF;
}
.sidebar__container {
  display: flex;
  flex-direction: column;
  gap: 77px;
}
.sidebar__body {
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: center;
}
.sidebar__separator {
  display: block;
  width: 175px;
  height: 1.5px;
  background-color: rgba(232, 234, 236, 0.78);
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.menu__item {
  width: 208px;
  height: 49px;
}
.menu__link {
  width: 208px;
  height: 49px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}
.menu__link_active {
  background: #D5E6FB;
  border-radius: 8.83405px;
  color: #0060FF;
}
.menu__link_active .menu__icon path {
  fill: #0060FF;
}
.menu__link:hover {
  cursor: pointer;
  background: #D5E6FB;
  border-radius: 8.83405px;
  color: #0060FF;
}
.menu__link:hover .menu__icon path {
  fill: #0060FF;
}
.menu__icon {
  width: 28.14px;
  height: 28.14px;
}
.menu__icon path {
  transition: 0.4s;
}
.submenu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.submenu__item {
  width: 208px;
  height: 49px;
}
.submenu__link {
  width: 208px;
  height: 49px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}
.submenu__link:hover {
  cursor: pointer;
  background: #D5E6FB;
  border-radius: 8.83405px;
  color: #0060FF;
}
.submenu__link:hover .submenu__icon path {
  fill: #0060FF;
}
.submenu__icon {
  width: 28.14px;
  height: 28.14px;
}
.submenu__icon path {
  transition: 0.4s;
}
.header {
  padding: 21px 39px 18px 39px;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__search {
  width: 626px;
  height: 50px;
  background: #FFFFFF;
  border: 1.3px solid rgba(196, 202, 205, 0.4);
  border-radius: 57px;
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;
  padding: 0 20px;
  transition: 0.4s;
}
.header__search::-moz-placeholder {
  color: rgba(98, 109, 125, 0.4);
}
.header__search:-ms-input-placeholder {
  color: rgba(98, 109, 125, 0.4);
}
.header__search::placeholder {
  color: rgba(98, 109, 125, 0.4);
}
.header__search:focus {
  border: 1.3px solid #0060FF;
}
.header__notify {
  transition: 0.4s;
}
.header__notify:hover {
  cursor: pointer;
  opacity: 0.7;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 29px;
}
.header__bell {
  width: 26.07px;
  height: 28px;
}
.profile {
  width: 256px;
  height: 59px;
  background: #F2F8FF;
  border-radius: 12.6265px;
  padding: 0 16.84px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 9px;
}
.profile__image {
  max-width: 45.46px;
  max-height: 45.46px;
}
.profile__img {
  width: 100%;
  height: 100%;
}
.profile__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.profile__name {
  font-weight: 600;
  font-size: 13.4683px;
  line-height: 28px;
  color: #1F1F1F;
}
.profile__email {
  font-weight: 500;
  font-size: 11px;
  line-height: 28px;
  color: #5E6E78;
}
.profile__popup {
  width: 5px;
  height: 20px;
  margin-left: auto;
  transition: 0.4s;
}
.profile__popup path {
  transition: 0.4s;
}
.profile__popup:hover {
  cursor: pointer;
}
.profile__popup:hover path {
  fill: #1F1F1F;
}
.profile__popup-img {
  width: 5px;
  height: 20px;
}

.popupmenu {
  display: none;
  position: fixed;
  right: 37px;
  top: 75px;
  transition: 0.4s;
}
.popupmenu_active {
  display: block;
  transition: 0.4s;
}
.popupmenu__body {
  background-color: #F2F8FF;
  border-radius: 12px;
  border: 1px solid rgba(182, 182, 182, 0.5333333333);
  box-shadow: 3px 3px 3px rgba(182, 182, 182, 0.2392156863);
}
.popupmenu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.popupmenu__link {
  width: 100px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: 0.4s;
}
.popupmenu__link:hover {
  cursor: pointer;
  background-color: #D5E6FB;
  color: #0060FF;
}

.notifymenu {
  display: none;
  position: fixed;
  right: 150px;
  top: 65px;
  transition: 0.4s;
}
.notifymenu_active {
  display: block;
  transition: 0.4s;
}
.notifymenu__body {
  background-color: #F2F8FF;
  border-radius: 12px;
  border: 1px solid rgba(182, 182, 182, 0.5333333333);
  box-shadow: 3px 3px 3px rgba(182, 182, 182, 0.2392156863);
}
.notifymenu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.notifymenu__link {
  width: 350px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: 0.4s;
}
.notifymenu__link:hover {
  cursor: pointer;
  background-color: #D5E6FB;
  color: #0060FF;
}

.balance {
  width: 302px;
  height: 174px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.balance__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance__name {
  display: flex;
  align-items: center;
  gap: 16px;
}
.balance__image {
  width: 44px;
  height: 43px;
  background: rgba(47, 128, 237, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.balance__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.balance__eye path {
  transition: 0.4s;
}
.balance__eye:hover {
  cursor: pointer;
}
.balance__eye:hover path {
  fill: rgba(31, 31, 31, 0.3215686275);
}
.balance__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.balance__count {
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  color: #000000;
}
.balance__profit {
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance__month {
  color: #626D7D;
}
.balance__plussum {
  color: #219653;
}
.balance__plusproc {
  width: 62.33px;
  height: 23px;
  background: rgba(33, 150, 83, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 22px;
  color: #219653;
}