@import "nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Roboto:wght@400;700&display=swap');

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 2px; /* ширина для вертикального скролла */
    height: 2px; /* высота для горизонтального скролла */
    background-color: #F8F8F9;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 96, 255, 0.1);
}

// <========== BODY ==========>

.body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    color: #000000;
    background-color: #F0F8FF;
}

// <========== MAIN ==========>

.main {
    display: grid;
    grid-template-columns: 307px auto;
    grid-template-rows: minmax(100vh, 100%);

    &__body {
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 98px auto;
    }

    &__header {
        grid-column: 1;
        grid-row: 1;
        background-color: #fff;
    }

    &__content {
        grid-column: 1;
        grid-row: 2;
        max-width: 1411px;
        padding: 28px;
    }
}

// <========== LOGO ==========>

.logo {
    display: flex;
    align-items: center;
    transition: 0.4s;

    &__img {
        width: 71.97px;
        height: 29.53px;
    }
    &__text {
        font-weight: 800;
        font-size: 22.1443px;
        line-height: 27px;
        color: #000000;
        span {
            color: #2F80ED;
        }
    }
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

// <========== SDIEBAR ==========>

.sidebar {
    padding: 41px 49px 41px 49px;
    grid-column: 1;
    grid-row: 1;
    background-color: #FFFFFF;
    border-right: 1px solid #F0F8FF;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 77px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 49px;
        align-items: center;
    }

    &__mainmenu {
    }

    &__separator {
        display: block;
        width: 175px;
        height: 1.5px;
        background-color: rgba(232, 234, 236, 0.78);
    }

    &__submenu {
    }
}
.menu {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__item {
        width: 208px;
        height: 49px;
    }

    &__link {
        width: 208px;
        height: 49px;
        padding-left: 35px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: 0.4s;
        &_active {
            background: #D5E6FB;
            border-radius: 8.83405px;
            color: #0060FF;
            .menu__icon path{
                fill: #0060FF;
            }
        }
        &:hover {
            cursor: pointer;
            background: #D5E6FB;
            border-radius: 8.83405px;
            color: #0060FF;
            .menu__icon path{
                fill: #0060FF;
            }
        }
    }

    &__icon {
        width: 28.14px;
        height: 28.14px;
        path {
            transition: 0.4s;
        }
    }

    &__text {
    }
}
.submenu {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__item {
        width: 208px;
        height: 49px;
    }

    &__link {
        width: 208px;
        height: 49px;
        padding-left: 35px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            background: #D5E6FB;
            border-radius: 8.83405px;
            color: #0060FF;
            .submenu__icon path{
                fill: #0060FF;
            }
        }
    }

    &__icon {
        width: 28.14px;
        height: 28.14px;
        path {
            transition: 0.4s;
        }
    }

    &__text {
    }
}


// <========== HEADER ==========>

.header {
    padding: 21px 39px 18px 39px;

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__search {
        width: 626px;
        height: 50px;
        background: #FFFFFF;
        border: 1.3px solid rgba(196, 202, 205, 0.4);
        border-radius: 57px;
        font-weight: 400;
        font-size: 15px;
        line-height: 10px;
        padding: 0 20px;
        transition: 0.4s;
        &::placeholder {
            color: rgba(98, 109, 125, 0.4);
        }
        &:focus {
            border: 1.3px solid #0060FF;
        }
    }
    
    &__notify {
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 29px;
    }

    &__bell {
        width: 26.07px;
        height: 28px;
    }

    &__profile {
    }
}
.profile {
    width: 256px;
    height: 59px;
    background: #F2F8FF;
    border-radius: 12.6265px;
    padding: 0 16.84px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 9px;

    &__image {
        max-width: 45.46px;
        max-height: 45.46px;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    &__name {
        font-weight: 600;
        font-size: 13.4683px;
        line-height: 28px;
        color: #1F1F1F;
    }

    &__email {
        font-weight: 500;
        font-size: 11px;
        line-height: 28px;
        color: #5E6E78;
    }

    &__popup {
        width: 5px;
        height: 20px;
        margin-left: auto;
        transition: 0.4s;
        path {
            transition: 0.4s;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover path {
            fill: #1F1F1F;
        }
    }

    &__popup-img {
        width: 5px;
        height: 20px;
    }
}

// <========== POPUP MENU ==========>

.popupmenu {
    display: none;
    position: fixed;
    right: 37px;
    top: 75px;
    transition: 0.4s;

    &_active {
        display: block;
        transition: 0.4s;
    }
    
    &__body {
        background-color: #F2F8FF;
        border-radius: 12px;
        border: 1px solid #b6b6b688;
        box-shadow: 3px 3px 3px #b6b6b63d;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__item {
    }

    &__link {
        width: 100px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            background-color: #D5E6FB;
            color: #0060FF;
        }
    }
}

// <========== NOTIFICATIONS MENU ==========>

.notifymenu {
    display: none;
    position: fixed;
    right: 150px;
    top: 65px;
    transition: 0.4s;

    &_active {
        display: block;
        transition: 0.4s;
    }

    &__body {
        background-color: #F2F8FF;
        border-radius: 12px;
        border: 1px solid #b6b6b688;
        box-shadow: 3px 3px 3px #b6b6b63d;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__item {
    }

    &__link {
        width: 350px;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            background-color: #D5E6FB;
            color: #0060FF;
        }
    }
}

// <========== MAIN CONTENT ==========>

.content {
    display: flex;
    flex-direction: column;
    gap: 27px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__balance {
    }

    &__cryptro {
    }

    &__markets {
    }
}

// <========== BALANCE BLOCK ==========>

.balance {
    width: 302px;
    height: 174px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__image {
        width: 44px;
        height: 43px;
        background: rgba(47, 128, 237, 0.2);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 28px;
        height: 25px;
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
    }

    &__eye {
        width: 22px;
        height: 16px;
        path {
            transition: 0.4s;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover path {
            fill: #1f1f1f52;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__count {
        font-weight: 600;
        font-size: 30px;
        line-height: 28px;
        color: #000000;
    }

    &__profit {
        font-weight: 600;
        font-size: 13px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__month {
        color: #626D7D;
    }

    &__plussum {
        color: #219653;
    }

    &__plusproc {
        width: 62.33px;
        height: 23px;
        background: rgba(33, 150, 83, 0.2);
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 11px;
        line-height: 22px;
        color: #219653;
    }
}

// <========== CRYPTO BLOCK ==========>

.crypto {
    width: 325px;
    height: 174px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 19px;

    &__body {
        display: flex;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 21.5px;
    }

    &__head {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__image {
        width: 44px;
        height: 43px;
        background: rgba(255, 156, 7, 0.2);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &_purple {
            background: rgba(77, 33, 255, 0.2);
        }

        &_red {
            background: #FFD2D2;
        }
    }

    &__icon {
        width: 19px;
        height: 25px;
    }

    &__title {
        display: flex;
        flex-direction: column;   
    }

    &__usdt {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
    }

    &__name {
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        color: #626D7D;
    }

    &__total {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #000000;
    }

    &__graphic {
        width: 137px;
        height: 50px;
    }

    &__stat {
        font-weight: 600;
        font-size: 13px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__pnl {
        font-weight: 500;
        color: #626D7D;
    }

    &__sum {
        color: #EB5757;

        &_green {
            color: #219653;
        }
    }

    &__proc {
        width: 62px;
        height: 23px;
        background: rgba(33, 150, 83, 0.2);
        border-radius: 60px;
        font-weight: 600;
        font-size: 11px;
        line-height: 22px;
        color: #219653;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// <========== COURSE BLOCK ==========>

.course {
    width: 851px;
    height: 428px;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 35px 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__head {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &__selectbox {
    }

    &__times {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__time {
        padding: 5px 12px;
        font-weight: 600;
        font-size: 10px;
        line-height: 22px;
        color: #000000;
        background: rgba(221, 225, 228, 0.22);
        border-radius: 7px;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            background: #F2F8FF;
            color: #0060FF;
        }

        &_active {
            background: #F2F8FF;
            color: #0060FF;
        }
    }

    &__body {
    }
}
.selectbox {
    width: 334px;
    height: 80px;
    background: rgba(249, 249, 250, 0.56);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 25px;

    &__name {
        display: flex;
        flex-direction: column;
    }

    &__usdt {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #000000;
    }

    &__title {
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        color: #626D7D;
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__stat {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__total {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    &__proc {
        width: 54.33px;
        height: 23px;
        background: rgba(33, 150, 83, 0.2);
        border-radius: 61.2328px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 10.2055px;
        line-height: 22px;
        color: #219653;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn-icon {
        width: 13px;
        height: 8px;
    }

    &__popup {
        display: none;
        position: fixed;
        background-color: #F9F9FA8F;
        border-radius: 12px;
        border: 1px solid #b6b6b688;
        box-shadow: 3px 3px 3px #b6b6b63d;
        top: 410px;
        left: 500px;

        &_active {
            display: block;
        }

        &-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 0;
        }

        &-item {
            width: 350px;
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            transition: 0.4s;
            &:hover {
                cursor: pointer;
                background-color: #D5E6FB;
                color: #0060FF;
            }
        }
    }
}

// <========== MARKETS ==========>

.markets {
    width: 478px;
    height: 428px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 37px 33px 14px 33px;
    display: flex;
    flex-direction: column;
    gap: 29px;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #000000;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 8px;
    }

    &__button {
        font-weight: 600;
        font-size: 10.5691px;
        line-height: 23px;
        color: #000000;
        padding: 5px 13px;
        background: #F8F8F9;
        border-radius: 7.39837px;
        transition: 0.4s;

        &_active {
            color: #0060FF;
            background: #F2F8FF;
        }

        &:hover {
            cursor: pointer;
            color: #0060FF;
            background: #F2F8FF;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        max-height: 270px;
        overflow: auto;
        scrollbar-color: rgba(0, 96, 255, 0.1) #F8F8F9;
        scrollbar-width: thin;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.4px solid rgba(0, 0, 0, 0.05);
        padding: 6px 0px;

        &:last-child {
            border-bottom: none;
        }
    }

    &__name {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 52px;
    }

    &__usdt {
        font-weight: 600;
        font-size: 12px;
        line-height: 28px;
        color: #000000;
    }

    &__fullname {
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        color: #5E6E78;
    }

    &__prices {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 52px;
    }

    &__total {
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        color: #000000;
    }

    &__proc {
        width: 58px;
        height: 22px;
        background: rgba(235, 87, 87, 0.2);
        border-radius: 69px;
        font-weight: 600;
        font-size: 9.79867px;
        line-height: 22px;
        color: #EB5757;
        display: flex;
        align-items: center;
        justify-content: center;

        &_green {
            background: rgba(33, 150, 83, 0.2);
            color: #219653;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__viewall {
        width: 60px;
        height: 26px;
        background: rgba(255, 255, 255, 0.22);
        border: 0.4px solid rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        font-weight: 600;
        font-size: 10px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

// <========== ASSETS ==========>

.assets {
    width: 315.07px;
    height: 301px;
    padding: 21px 26.16px 19px 29.91px;
    display: flex;
    flex-direction: column;
    gap: 23.11px;
    background: #FFFFFF;
    border-radius: 15px;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #000000;
    }

    &__btn {
        width: 34px;
        height: 26px;
        border: 0.3px solid rgba(127, 138, 155, 0.3);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__iconBtn {
        width: 14px;
        height: 3px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 28.87px;
    }

    &__chart {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__legends {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__legend {
        height: 22px;
        background: rgba(0, 96, 255, 0.1);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 0 7px;
    }

    &__icon {
        display: block;
        width: 12px;
        height: 12px;
        background: #155AB6;
        border-radius: 2px;

        &_btc {
            background: #2F80ED;
        }

        &_eth {
            background: #B1D3FF;
        }

        &_ada {
            background: #00C4DF;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 10px;
        line-height: 7px;
        color: #2F80ED;
    }
}

// <========== CONVERT ==========>

.convert {
    width: 366.92px;
    height: 301px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 21px 36px 26px 29.92px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #000000;
    }

    &__btn {
        width: 34px;
        height: 26px;
        border: 0.3px solid rgba(127, 138, 155, 0.3);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__iconBtn {
        width: 14px;
        height: 3px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__form {
    }

    &__description {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        color: #626D7D;
    }
}
.form {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    &__elem {
        position: relative;
    }

    &__input {
        width: 304px;
        height: 49px;
        background: #F9F9FA;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 17px;
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        color: #626D7D;
    }

    &__select {
        width: 62px;
        height: 31px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        right: 7px;
        top: 9px;
        z-index: 999;

        &_one {
            background: #C7E4DB;
            .form__selected {
                color: #219653;
            }
        }

        &_two {
            background: #FCF4DB;
            .form__selected {
                color: #FF7C04;
            }
        }
    }

    &__selected {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
    }

    &__selectBtn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__selectIcon {
        width: 6px;
        height: 3px;
    }

    &__button {
        width: 304px;
        height: 47px;
        background: #3380FF;
        border-radius: 7px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

// <========== CONVERT ==========>